<!--@subject {{trans "Payment Link"}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans "Hello"}}, {{var customer_name|raw}}</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="650">
                            <tbody>
                            <tr>
                                <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    {{trans "Here is the payment link for your order. Click on the link below to pay."}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    <a href="{{var payment_link}}" target="_blank">{{var payment_link}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    <h3><strong>{{trans "Customer Details:"}}</strong></h3>
                                    <p><strong>{{trans "Name"}}: </strong>{{var customer_fullname}}</p>
                                    <p><strong>{{trans "Email"}}: </strong>{{var customer_email}}</p>
                                    <p><strong>{{trans "Telephone"}}: </strong>{{var telephone}}</p>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
                                    <h3><strong>{{trans "Order Details:"}}</strong></h3>
                                    <p><strong>{{trans "Order Number"}}: </strong>#{{var order_increment}}</p>
                                    {{layout handle="sales_email_order_items" order_id=$order_id}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
